@font-face {
  font-family: norse-bold;
  src: url(Norse-Bold.otf);
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
}

#bg-image {
  height: 100vh;
  width: 40vw;
  max-width: 600px;
}

.logo-section {
  position: relative;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.37);
  width: 100%;
  top: 200px;
  height: 22vh;
}

.logo-container > p {
  font-size: calc(1.5rem + 8vw);
  color: white;
  font-family: norse-bold;
}

#odin-logo {
  height: 20vh;
  width: auto;
}

.top-section {
  display: flex;
  flex-direction: column;
  padding: 5% 30% 6% 5%;
  font-weight: 500;
  background-color: #f9fafb;
}

.form-container {
  background-color: white;
  width: 100%;
  display: flex;
  padding-left: 3rem;
  flex-direction: column;
  flex:1;
  font-size: 1rem;
  background-color: white;
  z-index: 10;
  box-shadow: 2px 2px 6px rgb(194, 194, 194);
}

form {
  width: 100%;
}

.form-container input{
  padding: 8px 15px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 5px;
}

.form-container input:focus {
  border: 1px solid rgb(21, 134, 240);
  outline: none;
  box-shadow: 0px 2px 5px rgb(168, 168, 168);
}

.form-container input:invalid {
  border: 1px solid rgb(240, 40, 40);
  outline: none
}

.form-row {
  width: 100%;
  display:flex;
  gap: 10%;
}

#form-header{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bottom-section {
  display: flex;
  padding-left: 3rem;
  flex-direction: column;
  flex: 1;
  background-color: #f9fafb;
  z-index: 5;
}

.bottom-section > button {
  width: 250px;
  padding: 10px 30px;
  font-size: 1.2rem;
  background-color: #499777;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin: 2rem 0;
}

.bottom-section > p {
  margin: 0;
}
